CRON_RS_USERNAME=admin
CRON_RS_PASSWORD=change-me-run-cron-rs-init
CRON_RS_JWT_SECRET=change-me-run-cron-rs-init
CRON_RS_HOST=0.0.0.0
CRON_RS_PORT=9746
CRON_RS_DB=~/cron-rs/cron-rs.db
CRON_RS_TOKEN_EXPIRY=24h
CRON_RS_CONFIG_DIR=~/cron-rs
